# Uncomment to always start optional services (postgres) with `docker compose up -d`
# COMPOSE_PROFILES=tests

# Prometheus alerting rules file mounted into the observability stack (relative to the docker/ folder)
# PROMETHEUS_ALERTS_FILE=./otel/alerts.yaml

# Neo4J Community Edition does not support custom db_name and db_username
# the default ones are `neo4j`
NEO4J_DB_NAME=neo4j
NEO4J_DB_USERNAME=neo4j
NEO4J_PASSWORD=12345678

# Used to initialize the Postgres container, then later to access Posrgres from the nexus-watcher test suite
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_pass
POSTGRES_DB=postgres
POSTGRES_PORT=5432
TEST_PUBKY_CONNECTION_STRING=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?pubky-test=true
